p.analysed-badge
  padding: 8px 20px
  border-radius: 5px
  color: white
  &.analysed-success
    background-color: #5cb85c
  &.analysed-waiting
    background-color: #f0ad4e

.project-item
  margin-bottom: 0
  border: 1px solid #CECECE
  border-bottom: none
  &:last-child
    border-bottom: 1px solid #CECECE

.project-list-item
  display: inline-block
  width: 100%
  padding: 15px 10px 5px 10px

.mb-10
  margin-bottom: 10px

.project-owner-name
  margin: 8px 0 0 0

p.model-info-title
  display: inline-block
  padding-right: 5px
